<div class="user_user">
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h4>登録情報編集</h4>
				<%= form_for(@user,url:admin_user_path) do |f| %>
				<div class="form-group">
					<table class="table">
						<div class="form-inline">
							<tr>
								<th>会員ID</th>
								<td>
									<%= @user.id %>
								</td>
							</tr>
							<tr>
								<th>名前</th>
								<td>
									<div class="field">
										<%= f.label :first_name,'（姓）' %>
										<%= f.text_field :first_name, class: "first_name" %>
									</div>
								</td>
								<td>
									<div class="field">
										<%= f.label :last_name,'（名）' %>
										<%= f.text_field :last_name, class: "last_name" %>
									</div>
								</td>
							</tr>
						</div>
					<div class="form-inline">
						<tr>
							<th>フリガナ</th>
								<td>
									<div class="field">
										<%= f.label :first_name_kana,'（セイ）' %>
										<%= f.text_field :first_name_kana, class: "first_name_kana" %>
									</div>
								</td>
								<td>
									<div class="field">
										<%= f.label :last_name_kana,'（メイ）' %>
										<%= f.text_field :last_name_kana, class: "last_name_kana" %>
									</div>
								</td>
							</tr>
						</div>
					<div class="form-inline">
						<tr>
							<th>郵便番号</th>
							<td>
								<div class="field">
									<%= f.text_field :postcode, class: "postcode" %>
								</div>
							</td>
						</tr>
					</div>
					<div class="form-inline">
						<tr>
							<th>住所</th>
							<td>
								<div class="field">
									<%= f.text_field :address, class: "address" %>
								</div>
							</td>
						</tr>
					</div>
					<div class="form-inline">
						<tr>
							<th>電話番号</th>
							<td>
								<div class="field">
									<%= f.text_field :phone_number, class: "phone_number" %>
								</div>
							</td>
						</tr>
					</div>
					<div class="form-inline">
						<tr>
							<th>メールアドレス</th>
							<td>
								<div class="field">
									<%= f.email_field :email, class: "email" %>
								</div>
							</td>
						</tr>
					</div>
					<div class="form-inline">
						<tr>
							<th>会員ステータス</th>
							<td>
								<div class="field">
									<%= f.radio_button :is_active, :true ,checked: true%>有効
									<%= f.radio_button :is_active, :false %>退会
								</div>
							</td>
						</tr>
					</div>
			</table>
					<div class="actions">
						<%= f.submit "編集内容を保存する" ,class: "btn btn-primary "%>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>