<div class="user_user">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h4>登録情報編集</h4>
					<%= form_for(@user,url:admin_user_path) do |f| %>
					<div class="form-group col-xs-8">
						<table class="table admin-user-table">
							<tr>
								<th>会員ID</th>
								<td class="col-xs-2">
									<%= @user.id %>
								</td>
							</tr>
							<tr>
								<th class="col-xs-2">名前</th>
								<td class="col-xs-2"><%= f.text_field :first_name, class: "form-control" %>
								</td>
								<td class="col-xs-2">
									<%= f.text_field :last_name, class: "form-control" %>
								</td>
								<td class="col-xs-2"></td>
							</tr>
							<tr>
								<th class="col-xs-2">フリガナ</th>
									<td class="col-xs-2">
										<%= f.text_field :first_name_kana, class: "form-control" %>
									</td>
									<td class="col-xs-2">
										<%= f.text_field :last_name_kana, class: "form-control" %>
									</td>
									<td class="col-xs-2"></td>
								</tr>
							<tr>
								<th class="col-xs-2">郵便番号</th>
								<td class="col-xs-2">
									<%= f.text_field :postcode, class: "form-control" %>
								</td>
								<td class="col-xs-2"></td>
								<td class="col-xs-2"></td>
							</tr>
							<tr>
								<th class="col-xs-2">住所</th>
								<td colspan="3">
									<%= f.text_field :address, class: "form-control" %>
								</td>
							</tr>
							<tr>
								<th class="col-xs-2">電話番号</th>
								<td class="col-xs-2">
									<%= f.text_field :phone_number, class: "form-control" %>
								</td>
								<td class="col-xs-2"></td>
								<td class="col-xs-2"></td>
							</tr>
							<tr>
								<th class="col-xs-2">メールアドレス</th>
								<td class="col-xs-2">
									<%= f.email_field :email, class: "form-control" %>
								</td>
								<td class="col-xs-2"></td>
								<td class="col-xs-2"></td>
							</tr>
							<tr>
								<th class="col-xs-2">会員ステータス</th>
								<td class="col-xs-2">
									<h4>
										<%= f.radio_button :is_active, :true ,checked: true%>有効
									</h4>
								</td>
								<td>
									<h4>
										<%= f.radio_button :is_active, :false %>退会済み
									</h4>
								</td>
							</tr>
						</table>
						<div class="admin-user-btn">
							<%= f.submit "編集内容を保存する" ,class: "btn btn-primary "%>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>