<div class="user_user">
<div class="container">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<p class="user-title">会員一覧画面</p>
				<div class="col-xs-10 col-xs-offset-1">
					<table class="table admin-user-index-table">
						<thead>
							<tr>
								<th class="col-xs-1" bgcolor="#faf0e6">会員ID</th>
								<th class="col-xs-2" bgcolor="#faf0e6">氏名</th>
								<th class="col-xs-2" bgcolor="#faf0e6">メールアドレス</th>
								<th class="col-xs-2" bgcolor="#faf0e6">ステータス</th>
							</tr>
						</thead>
						<tbody>
						<% @users.each do |user| %>
							<tr>
								<td><%= user.id%></td>
								<td>
									<%= link_to admin_user_path(user), class: "link" do %>
									<%= user.first_name%><%= user.last_name%>
									<% end %>
								</td>
								<td><%= user.email%></td>
								<td><%= user.if_is_active %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
