<div class="container">
    <div class="row">
        <div class="cart">
            <div class="col-xs-12">
                <h3><span class="col-xs-3 cart-title" >　ショッピングカート</span></h3>
                <div class="col-xs-7"></div>
                <%= link_to 'カートを空にする',all_destroy_cart_items_path,method: :delete,class: "btn btn-danger col-xs-2"%>
                <br><br>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-xs-4" style="background-color:#faf0e6;">商品名</th>
                            <th class="col-xs-2" style="background-color:#faf0e6;">単価(税込)</th>
                            <th class="col-xs-2" style="background-color:#faf0e6;">数量</th>
                            <th class="col-xs-2" style="background-color:#faf0e6;">小計</th>
                            <th class="col-xs-2" style="background-color:#faf0e6;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @sum = 0 %>
                        <% @cart_item.each do |cart_item| %>
                        <tr>
                            <th>
                                <%= attachment_image_tag cart_item.item,:image,size:"50x50"%>
                                <%= cart_item.item.name %>
                            </th>
                            <td>
                                <h4>
                                    <%= cart_item.item.tax%>
                                </h4>
                            </td>
                            <td>
                                <%= form_for cart_item do |f| %>
                                <%= f.text_field :quantity,class: "col-xs-3 cart-form"%>
                                <div class="col-xs-3"></div>
                                <%= f.submit '変更',class: "btn btn-primary col-xs-4" %>
                                <% end %>
                            </td>
                            <td>
                                <h4>
                                    <%= cart_item.item.tax*cart_item.quantity%>
                                </h4>
                            </td>
                            <td>
                                <%= link_to '削除する', cart_item_path(cart_item), method: :delete,class: "btn btn-danger single-delete" %>
                            </td>
                        </tr>
                        <% @sum += cart_item.item.tax*cart_item.quantity %>
                        <% end %>
                    </tbody>
                </table>
                <div class="col-xs-8 pull-left">
                    <%= link_to '買い物を続ける',root_path, class: "btn btn-primary"%>
                </div>
                <div class="col-xs-4">
                    <table class="table table-bordered">
                        <div class="row">
                            <th class="col-xs-4" style="background-color:#faf0e6;">
                                <h4>合計金額</h4>
                            </th>
                            <th class="col-xs-8">
                                <h4>
                                    <%= @sum%>
                                </h4>
                            </th>
                            </tr>
                        </div>
                    </table>
                </div>
                <%= link_to '情報入力にすすむ',new_order_path(@user),class: "btn btn-success col-xs-2"%>
            </div>
        </div>
    </div>
</div>