<div class="container">
    <div class="row">
        <div class="cart">
            <div class="col-xs-12">
                <h4><span style="background-color:#e9e9e9;">ショッピングカート</span></h4>
                <!-- ショッピングカートテーブル -->
                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-xs-4" style="background-color:#e9e9e9;">商品名</th>
                            <th class="col-xs-2" style="background-color:#e9e9e9;">単価(税込)</th>
                            <th class="col-xs-2" style="background-color:#e9e9e9;">数量</th>
                            <th class="col-xs-2" style="background-color:#e9e9e9;">小計</th>
                            <th class="col-xs-2" style="background-color:#e9e9e9;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @cart.each do |item| %>
                            <tr>
                                <th>
                                    <%= attachment_image_tag item, :image,size:"50x50"%><%= item.name %>
                                </th>
                                <td><%= item.no_tax%></td>
                                <% form_for(@cart_item) do |f|%>
                                <td>
                                    <%= f.label :quantity %>
                                    <%= f.text_field :quantity%><!--個数入力フォーム-->
                                    <button type="button" class="btn btn-primary">変更</button>
                                </td>
                                <td><%= item.no_tax*cart_item.quantity%>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger">削除する</button>
                                </td>
                                <%= f.submit %>
                                <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                <div class="col-xs-8 pull-left">
                    <%= link_to '買い物を続ける',root_path, class: "btn btn-primary"%>
                </div>
                <div class="col-xs-4">
                    <table class="table table-bordered">
                        <div class="row">
                            <th>合計金額</th>
                            <th><a>ここに金額を表示</a></th>
                            </tr>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>