<div class="container">
    <h1 class="text-title">注文詳細画面</h1>
    <div class="row">
        <div class="col col-xs-8">
            <table>
                <h3 class="text-subtitle">注文情報</h3>
                <table class="table admin-order-show">
                    <tbody>
                        <tr>
                            <th class="col-xs-1">
                                <p class="text">購入者</p>
                            </th>
                            <td class="col-xs-3" colspan="2">
                                <%= link_to admin_user_path(@order.user_id),class: "link" do %>
                                <p class="text">
                                    <%= @order.user.full_name %>
                                </p>
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <th class="col-xs-1">
                                <p class="text">配送先</p>
                            </th>
                            <td class="col-xs-3" colspan="2">
                                <p class="text">
                                    <%= @order.postal_code %>
                                </p>
                                <p class="text">
                                    <%= @order.address %>
                                </p>
                                <p class="text">
                                    <%= @order.addressee %>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th class="col-xs-1">
                                <p class="text">支払方法</p>
                            </th>
                            <td class="col-xs-2" colspan="2">
                                <p class="text">
                                    <%= @order.payment %>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th class="col-xs-1">
                                <p class="text">注文ステータス</p>
                            </th>
                            <td class="col-xs-1">
                                    <%= form_for @order,url: admin_order_path(@order) do |f| %>
                                    <%#= f.select :status, [["入金待ち","入金待ち"],["入金確認","入金確認"],["製作中","製作中"],["発送準備中","発送準備中"],["発送済み","発送済み"]], value: @order.status, class: "form-control"%>
                                    <span><%= f.select :status, [["入金待ち","入金待ち"],["入金確認","入金確認"],["製作中","製作中"],["発送準備中","発送準備中"],["発送済み","発送済み"]], {}, {class: 'form-control'} %></span>
                            </td>
                            <td class="col-xs-1">
                                <%= f.submit "更新", class: "btn btn-brown pribyn" %>
                                <% end %>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <table class="orderdetail">
                <table class="table admin-order-show">
                    <h3 class="text-subtitle-sub">注文内容</h3>
                    <thead class="admin-order-edit-orderitems-head">
                        <tr>
                            <th class="col-xs-3" style="background-color:#faf0e6;">
                                <p class="text">商品</p>
                            </th>
                            <th class="col-xs-2" style="background-color:#faf0e6;">
                                <p class="text">単価(税込)</p>
                            </th>
                            <th class="col-xs-2" style="background-color:#faf0e6;">
                                <p class="text">個数</p>
                            </th>
                            <th class="col-xs-2" style="background-color:#faf0e6;">
                                <p class="text">小計</p>
                            </th>
                            <th class="col-xs-3 production-status" style="background-color:#faf0e6;">
                                <p class="text">制作ステータス</p>
                            </th>
                            <th class="col-xs-2" style="background-color:#faf0e6;"></th>
                        </tr>
                    </thead><br>
                    <tbody class="admin-order-edit-orderitems-body">
                        <% @sum = 0 %>
                        <% @order_items.each do |order_item| %>
                        <tr>
                            <td>
                                <p class="text">
                                    <%= order_item.item.name %>
                                </p>
                            </td>
                            <td>
                                <p class="text">
                                    <%= order_item.unit_price %>
                                </p>
                            </td>
                            <td>
                                <p class="text">
                                    <%= order_item.quantity %>
                                </p>
                            </td>
                            <td>
                                <p class="text">
                                    <%= order_item.unit_price * order_item.quantity %>
                                </p>
                            </td>
                            <% subtotal = order_item.unit_price * order_item.quantity %>
                            <p class="text">
                                <% @sum += subtotal %>
                            </p>
                            <td>
                                <div class="admin-orders-edit-orderstatus">
                                    <%= form_for order_item, url: admin_order_item_path(order_item.id)  do |f| %>
                                    <%#= f.select :status, [["着手不可","着手不可"],["制作待ち","制作待ち"],["製作中","製作中"],["制作完了","制作完了"]] ,value: order_item.status,　class: "form-control"%>
                                    <%= f.select :status, [["着手不可","着手不可"],["制作待ち","制作待ち"],["製作中","製作中"],["制作完了","制作完了"]] , {}, {class: 'form-control'} %>
                            </td>
                            <td>
                                <%= f.submit "更新",class: "btn btn-brown" %><% end %></div>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </table>
        </div>
        <div class="col col-xs-4">
            <table class="table-bordered ad-order-edit-charge" border="1" width="300" height="150">
                <tbody>
                    <tr>
                        <td class="col-xs-6" style="background-color:#faf0e6;">
                            <p class="text"><strong>商品合計</strong></p>
                        </td>
                        <td class="col-xs-6">
                            <p class="text">
                                <%= @sum %>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-6" style="background-color:#faf0e6;">
                            <p class="text"><strong>送料</strong></p>
                        </td>
                        <td class="col-xs-6">
                            <p class="text">
                                <%= @order.delivery_charge %>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-6" style="background-color:#faf0e6;">
                            <p class="text"><strong>請求金額合計</strong></p>
                        </td>
                        <td class="col-xs-6">
                            <p class="text">
                                <%= @order.charge %>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>