<div class="container">
    <h1>注文詳細画面</h1>
    <div class="row">
        <div class="col col-xs-6">
            <table>
                <h3>注文情報</h3>
                <table border="1" width="700" height="200">
                    <tbody>
                        <tr>
                            <th bgcolor="#EEEEEE">購入者</th>
                            <td>
                                <%= link_to admin_user_path(@order.user_id) do %>
                                <%= @order.user.full_name %>
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <th bgcolor="#EEEEEE">配送先</th>
                            <td>
                                <%= @order.postal_code %>
                                <%= @order.address %>
                                <%= @order.addressee %>
                            </td>
                        </tr>
                        <tr>
                            <th bgcolor="#EEEEEE">支払方法</th>
                            <td>
                                <%= @order.payment %>
                            </td>
                        </tr>
                        <tr>
                            <th bgcolor="#EEEEEE">注文ステータス</th>
                            <td>
                                <%= form_for @order,url: admin_order_path(@order) do |f| %>
                                <%= f.select :status, [["入金待ち","入金待ち"],["入金確認","入金確認"],["製作中","製作中"],["発送準備中","発送準備中"],["発送済み","発送済み"],], value: @order.status %>
                                <%= f.submit "更新", class: "btn btn-primary" %>
                                <% end %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </table>
            <h3>注文内容</h3>
            <table border="1" width="700" height="200">
                <thead>
                    <tr>
                        <th>商品</th>
                        <th>単価（税込）</th>
                        <th>個数</th>
                        <th>小計</th>
                        <th></th>
                        <th>制作ステータス</th>
                    </tr>
                </thead><br>
                <tbody>
                    <% @sum = 0 %>
                    <% @order_items.each do |order_item| %>
                    <tr>
                        <td>
                            <%= order_item.item.name %>
                        </td>
                        <td>
                            <%= order_item.unit_price %>
                        </td>
                        <td>
                            <%= order_item.quantity %>
                        </td>
                        <td>
                            <%= order_item.unit_price * order_item.quantity %>
                        </td>
                        <% subtotal = order_item.unit_price * order_item.quantity %>
                        <% @sum += subtotal %>
                        <td>
                        <th>
                            <%#= form_with model: @order_item, local: true do |f| %>
                            <%= form_for order_item, url: admin_order_item_path(order_item.id)  do |f| %>
                            <%= f.select :status, [["着手不可","着手不可"],["制作待ち","制作待ち"],["製作中","製作中"],["制作完了","制作完了"]] ,value: order_item.status%>
                            <!-- value: @order.order_item_make_status を入れる-->
                            <%= f.submit "更新",class: "btn btn-primary" %>
                            <% end %>
                        </th>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col col-xs-6">
        <table border="1" width="300" height="200">
            <tbody>
                <tr>
                    <td class="col-xs-5">
                        <h5>商品合計</h5>
                    </td>
                    <td class="col-xs-7">
                        <%= @sum %>
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-5">
                        <h5>送料</h5>
                    </td>
                    <td class="col-xs-7">
                        <%= @order.delivery_charge %>
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-5">
                        <h5>請求金額合計</h5>
                    </td>
                    <td class="col-xs-7">
                        <%= @order.charge %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>