<div class="new">
    <div class="container">
        <div class="row">
            <h4><span style="background-color:#e9e9e9;">注文履歴一覧</span></h4><br>
            <!-- 注文履歴詳細テーブル -->
            <table class="table">
                <thead style="background-color:#e9e9e9;">
                    <tr>
                        <th class="col-xs-3">購入日時</th>
                        <th class="col-xs-3">購入者</th>
                        <th class="col-xs-3">注文個数</th>
                        <th class="col-xs-3">注文ステータス</th>
                    </tr>
                </thead>
                <tbody>
                    <% @orders.each do |order| %>
                    <tr>
                        <th><%=link_to edit_admin_order_path(order.id) do%><%= order.created_at %><% end %></th>
                        <th><%= order.user.full_name %></th>
                        <th><%= order.order_items.sum(:quantity) %></th>
                        <th><%= order.status %></th>
                  </tr>
                    <% end %>
                    <%= paginate @orders, class: "paginate" %>
                </tbody>
            </table>
        </div>
    </div>
</div>