<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<p class="user-title">登録情報編集</p>
			<div class="col-xs-8">
				<%= form_for(@user) do |f| %>
					<div class="form-group">
						<table class="table user-table">
							<tr>
								<th class="col-xs-2">名前</th>
								<td>
									<%= f.label :first_name,'（姓）' %>
								</td>
								<td><%= f.text_field :first_name, class: "form-control" %>
								</td>
								<td>
									<%= f.label :last_name,'（名）' %>
								</td>
								<td>
									<%= f.text_field :last_name, class: "form-control" %>
								</td>
							</tr>
						<tr>
							<th class="col-xs-2">フリガナ</th>
								<td>
									<%= f.label :first_name_kana,'（セイ）' %>
								</td>
								<td>
									<%= f.text_field :first_name_kana, class: "form-control" %>
								</td>
								<td>
									<%= f.label :last_name_kana,'（メイ）' %>
								</td>
								<td>
									<%= f.text_field :last_name_kana, class: "form-control" %>
								</td>
							</tr>
						<tr>
							<th class="col-xs-2">メールアドレス</th>
							<td></td>
							<td>
								<%= f.email_field :email, class: "form-control" %>
							</td>
						</tr>
						<tr>
							<th class="col-xs-2">郵便番号</th>
							<td></td>
							<td>
								<%= f.text_field :postcode, class: "form-control" %>
							</td>
						</tr>
						<tr>
							<th class="col-xs-2">住所</th>
							<td></td>
							<td colspan="3">
								<%= f.text_field :address, class: "form-control" %>
							</td>
						</tr>
						<tr>
							<th class="col-xs-2">電話番号</th>
							<td></td>
							<td>
								<%= f.text_field :phone_number, class: "form-control" %>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td colspan="2">
								<%= f.submit "編集内容を保存する" ,class: "btn btn-brown" %>
							</td>
							<td>
								<%= link_to '退会する',leave_users_path, class: "btn btn-danger" %>
							</td>
						</tr>
				</table>
				</div>
			<% end %>
			</div>
			</div>
		</div>
	</div>
</div>