<div class="container">
    <div class="row item_edit_row">
        <div class="itemindex">
            <div class="col-xs-12">
            	<span class="item_span">商品 編集画面</span>
            	<div class="row">
				<!-- エラーメッセージ -->
				<% if @item.errors.any? %>
				  <div id="error_explanation" class="alert alert-danger">
				    <ul>
				      <% @item.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				      <% end %>
				    </ul>
				  </div>
				<% end %>
				<div class="col-xs-1">  </div>
				<%= form_for(@item,url:admin_item_path) do |f| %>
					<div class="col-xs-3 item_edit">
						<%= attachment_image_tag @item, :image, fallback: "no_image.jpg" %>

						<%= f.label :image,'商品画像' %>
						<%= f.attachment_field :image %>
					</div>

					<div class="col-xs-2 item_edit">
						<div><%= f.label :name,'商品名' %></div>
						<div><%= f.label :description,'商品説明' %></div>
						<div><%= f.label :no_tax,'税抜価格' %></div>
						<div><%= f.label :genre_id,'商品ジャンル' %></div>
						<div><%= f.label :is_active,'販売ステータス' %></div>
					</div>
					<div class="col-xs-3 field item_edit">
						<div><%= f.text_field :name %></div>
						<div><%= f.text_area :description %></div>
						<div><%= f.text_field :no_tax %>円</div>
						<div><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %></div>
						<div><%= f.select :is_active, [["販売中", "true"], ["売り切れ", "false"]], include_blank: "選択して下さい" %></div>
					</div>

					<div class="col-xs-1 col-xs-offset-10">
					　　　<%= f.submit '編集する',class: "btn btn btn-primary" %>
					</div>
					</div>

					<% end %>
			</div>
			<div class="col-xs-1"></div>
		</div>
	</div>
</div>

