<div class="container itemindex">
	<div class="row">
		<div class="col-xs-10 item_index_head"><span class="item_span">商品一覧</span></div>
	 	<div class="col-xs-2 item_index_head">
		 	<%= link_to new_admin_item_path do %>
		 		<button class="new_button" type="button">＋</button>
		 	<% end %>
		</div>
	</div>
	<div class="row item_index_row">
	    <div class="col-xs-1"></div>
		<table class="col-xs-11 table item_index_table">
			<thead class="item_index_thead">
				<tr>
					<th bgcolor="#faf0e6">商品ID</th>
					<th bgcolor="#faf0e6">商品名</th>
					<th bgcolor="#faf0e6">税抜価格</th>
					<th bgcolor="#faf0e6">ジャンル</th>
					<th bgcolor="#faf0e6">ステータス</th>
				</tr>
			</thead>
			<tbody>
				<% @items.each do |item| %>
				<tr>
					<td>
						<%= item.id %>
					</td>
					<td class="item_link">
						<%= link_to admin_item_path(item), class: "item_link" do %>
						<%= item.name %><% end %>
					</td>
					<td>
						<%= item.no_tax%>円
					</td>
					<td>
						<%= item.genre.name%>
					</td>
					<td>
						<%= item.if_is_active %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	</div>
</div>