<div class="container">
    <div class="row">
        <div class="cart">
            <div class="col-xs-12">
				<h1>商品 新規登録画面</h1>

				<%= form_for(@item,url:new_admin_item_path) do |f| %>

					<div class="field">
						<%= f.label :image %>
						<%= f.attachment_field :image %>
					</div>

					<div class="field">
						<%= f.label :name %>
						<%= f.text_field :name, class: "name" %>
					</div>

					<div class="field">
						<%= f.label :description %>
						<%= f.text_area :description, class: "description" %>
					</div>

					<div class="field">
						<%= f.label :no_tax %>
						<%= f.text_field :no_tax, class: "no_tax" %>
					</div>

					<div>
						<%= f.collection_select :genre_id, Genre.all, :id, :name, :include_blank => true %>
					</div>
					<div>
						<%= f.select :is_active?, [["販売中", "true"], ["売り切れ", "fale"]], include_blank: "選択して下さい" %>
					</div>


					<div class="actions">
						<%= f.submit '新規登録' %>
					</div>

					<% end %>
			</div>
		</div>
	</div>
</div>

