<!DOCTYPE html>
<html>
  <head>
    <title>ながのCAKE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダーの記述-->
    <header class="navbar navbar-fixed-top jumbotron" >
      <div class="container">
        <div class="row-header-text">
        <nav class="nav navbar-nav navbar-left">
          <h2 class="header-mark"><%= image_tag('mark.png') %></h2>
          <h2><%= link_to image_tag('logo.png', class: 'logo'), root_path %></h2>
        </nav>
        <nav>
          <ul class="nav nav-pills navbar-right">
            <!--if文でサインインとアウト時の表示を変更-->
            <% if user_signed_in? %>
            <li class="navbar-text">ようこそ <strong><%= current_user.first_name%><%= current_user.last_name%></strong> さん！</li>
            <li><%= link_to 'ながのCAKEについて', homes_about_path %></li>
            <li><%= link_to 'マイページ', user_path(current_user) %></li>
            <li><%= link_to '商品一覧', items_path %></li>
            <li><%= link_to 'カート', cart_items_path %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete%></li>

            <% elsif admin_admin_signed_in? %>
            <li><%= link_to '商品一覧', admin_items_path %></li>
            <li><%= link_to '会員一覧', admin_users_path %></li>
            <li><%= link_to '注文履歴一覧', admin_orders_path  %></li>
            <li><%= link_to 'ジャンル管理', admin_genres_path %></li>
            <li><%= link_to 'ログアウト', destroy_admin_admin_session_path, method: :delete%></li>

            <% elsif current_page?(new_admin_admin_session_path) %>

            <% else %>
            <li><%= link_to 'ながのCAKEについて', homes_about_path %></li>
            <li><%= link_to '商品一覧', items_path %></li>
            <li><%= link_to '新規登録',new_user_registration_path %></li>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
      </div>
    </header>
        <!--ヘッダーの記述-->
    <div class="container">
      <p id="notice"><%= notice %></p> <!--デバイスでnotice設定で呼び出し-->
    </div>
    <div class="section">
      <%= yield %>
    </div>
 <!--フッターの記述-->
    <footer>
      <div class="container">
        <div class="row">
          <p>----------ながのCAKE----------</p>
          <p>【所在地】　〒123-4567　長野県長野市〇〇1 丁目２−３</p>
          <p class="footer-address">【電話番号】     123-4567-8901</p>
        </div>
      </div>
    </footer>
    <!-- フッターの記述 -->
  </body>
</html>
