<div class="container">
	<div class="row genre_row">
		<!-- エラーメッセージ -->
		<% if @genre.errors.any? %>
		    <%= pluralize(@genre.errors.count,"error") %>
		    <ul>
		        <% @genre.errors.full_messages.each do |msg| %>
		            <li><%= msg %></li>
		         <% end %>
		     </ul>
		<% end %>

		<p class="genre_title">ジャンル追加・一覧画面</p>
		<!-- 新規投稿フォーム -->
		<div class="col-xs-11 col-xs-offset-3">
			<%= form_for(@genre,url:admin_genres_path, html: { class: "genre_form" }) do |f|  %>
			<table>
				<tbody>
					<tr>
						<td><span class="genre_form_span">ジャンル</span></td>
						<td><%= f.text_field :name ,class: "form-control"%></td>
						<td><span class="genre_span"><%= f.radio_button :is_active, :true, checked: true %> 有効</span></td>
						<td><span class="genre_span"><%= f.radio_button :is_active, :false %> 無効</span></td>
						<td><%= f.submit '追加', class: "btn btn-brown genre_submit" %></td>
					</tr>
				</tbody>
			</table>
			<% end %>
		</div>

		<!-- ジャンル一覧 -->
		<table class="col-xs-5 col-xs-offset-3 table genre_index_table">
			<thead>
				<th class="col-xs-4 genre_column1" bgcolor="#faf0e6">ジャンル</th>
				<th class="col-xs-3 genre_column2" bgcolor="#faf0e6">状態</th>
				<th class="col-xs-1 genre_column3" bgcolor="#faf0e6"></th>
			</thead>
			<tbody>
				<% @genres.each do |genre| %>
					<tr>
						<td class="genre_column1"><%= genre.name %></td>
						<td class="genre_column2"><%= genre.if_is_active %></td>
						<td class="genre_column3"><%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-brown" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>