<div class="container">
	<div class="row">
		<!-- ジャンル検索部分テンプレート -->
		<%= render 'admin/genres/genre_search', genres: @genres %>

		<!-- 全商品一覧表示 -->
		<p><span style="font-size:2em;">会員の商品一覧 </span>(全<%= @items.count %>件)</p>
		<div class="col-xs-9">
			<table>
				<tbody>
					<tr><!-- 画像の折り返しはbootstrapで領域を指定すれば実現か？ -->
						<% @items.each do |item| %>
						<th>
							<div><%= link_to (item) do %>
									<%= image_tag 'no_image.jpg', :size =>'200x100' %><%# attachment_image_tag item, :image, :fill, 200, 100, format: "jpeg" , fallback: "no_image.jpg", size:'200x100' %></div>
									<% end %>
							<div><%= link_to item.name, item_path(item) %></div>
							<div>¥<%= item.tax %></div>
						</th>
						<% end %>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
