<div class="container">
    <div class="row">
        <div class="cart">
            <div class="col-xs-12">
                <h4><span style="background-color:#e9e9e9;">注文情報確認</span></h4>
                <!-- ショッピングカートテーブル -->
                <div class="col-xs-7">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="col-xs-6">商品名</th>
                                <th class="col-xs-2">単価(税込)</th>
                                <th class="col-xs-2">数量</th>
                                <th class="col-xs-2">小計</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @sum = 0 %>
                            <% @cart_item.each do |cart_item| %>
                            <tr>
                                <td>
                                    <%= attachment_image_tag cart_item.item,:image,size:"50x50"%>
                                    <%= cart_item.item.name %>
                                </td>
                                <td>
                                    <%= cart_item.item.tax%>
                                </td>
                                <td>
                                    <%= cart_item.quantity%>
                                </td>
                                <td>
                                    <%= cart_item.item.tax*cart_item.quantity %>
                                </td>
                            </tr>
                            <% @sum += cart_item.item.tax*cart_item.quantity %>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-4">
                    <table class="table table-bordered">
                        <tr>
                            <th>送料</th>
                            <td>
                                <%= @delivery_charge%>
                            </td>
                        </tr>
                        <tr>
                            <th>商品合計</th>
                            <td>
                                <%= @sum%>
                            </td>
                        </tr>
                        <tr>
                            <th>請求金額</th>
                            <td>
                                <%= @sum + @delivery_charge%>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-12">
                    <h4>支払方法</h4><a><%= @order.payment%></a>
                    <h4>お届け先</h4><a><%= @order.address%></a><br>
                </div>
                <div class="col-xs-8">
                    <button type="button" class="btn btn-success">購入を確定する</button>
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
    </div>
</div>