<div class="new">
    <div class="container">
        <div class="row">
            <h3><span style="background-color:#e9e9e9;">注文情報入力</span></h3><br>
            <%= form_for @order do |f|%>
            <table class="table table-bordered">
                <tr>
                    <th>
                        <h4>支払方法</h4>
                    </th>
                    <td>
                        <div class="radio-inline">
                            <%= radio_button_tag :payment, :クレジットカード%>
                            <%= label_tag :クレジットカード, "クレジットカード",class: "payment_label" %>
                            <%= radio_button_tag :payment, :銀行振込 %>
                            <%= label_tag :銀行振込, "銀行振込",class: "payment_label" %>
                        </div>
                    </td>
                </tr>
                <th>
                    <h4>お届け先</h4>
                </th>
                <td>
                    <div class="radio-inline">
                        <%= radio_button_tag(:selected_btn, "会員住所") %>
                        <%= label_tag(:registered_address, "ご自身の住所") %>
                        <div>
                            <p>
                                <%= current_user.postcode %>
                                <%= current_user.address %>
                                <%= current_user.full_name.to_s %>
                                
                                <%= f.hidden_field :charge, value: @sum %>
                                <%= f.hidden_field :status, value: :入金待ち %>
                            </p>
                        </div>
                    </div>
                    <div class="radio-inline">
                        <%= radio_button_tag(:selected_btn, "配送先登録住所") %>
                        <%= label_tag(:registered_address, "登録済住所から選択") %>
                        <p>
                            <%= f.collection_select :address, @deliveries, :id, :total_address,{},class:"custom-select col-7" %>
                            <%= f.hidden_field :charge, value: @total %>
                            <%= f.hidden_field :status, value: :入金待ち %>
                        </p>
                    </div>
                    <div class="radio-inline">
                        <%= radio_button_tag(:selected_btn, "新しい住所") %>
                        <%= label_tag(:registered_address, "新しいお届け先") %>
                        <div>
                            <div class="col-5">
                                <p>郵便番号</p>
                                <%= f.text_field :postal_code,class:"form-control form-control-sm" %>
                            </div>
                            <div class="col-10">
                                <p>住所</p>
                                <%= f.text_field :address,class:"form-control form-control-lg"%>
                            </div>
                            <div class="col-6">
                                <p>宛名</p>
                                <%= f.text_field :addressee,class:"form-control" %>
                            </div>
                            <%= f.hidden_field :postal_code %>
                            <%= f.hidden_field :charge, value: @total %>
                            <%= f.hidden_field :order_status, value: :入金待ち %>
                        </div>
                    </div>
                </td>
            </table>
            <%= f.submit '確認画面へ進む'%>
            <% end %>
        </div>
    </div>
</div>