<div class="new">
    <div class="container">
        <%= form_for @order, url: confirm_orders_path, method: :get do |f|%>
        <div class="form-group">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <h3 style="background-color:rgba(200,200,200,0.5);text-align:center">注文情報入力</h3>
                </div>
            </div>
            <!--支払い方法-->
            <div class="row">
                <div class="col-md-2">
                    <h4 class="order-title">支払い方法</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <%= f.radio_button :payment, :クレジットカード, checked: true %>
                    <%= f.label "クレジットカード" %>
                    <br>
                    <%= f.radio_button :payment, :銀行振込 %>
                    <%= f.label "銀行振込" %>
                </div>
            </div>
            <!--お届け先-->
            <div class="row">
                <div class="col-md-2">
                    <h4 class="order-title">お届け先</h4>
                </div>
            </div>
            <!--radio_button1-->
            <div class="row">
                <div class="col-md-9 col-md-offset-1">
                    <%= radio_button_tag :delivery_type, 1, true %>
                    <%= label_tag "ご自身の住所" %><br>
                    <p>
                        <%= current_user.postcode + current_user.address %>
                    </p>
                    <p>
                        <%= current_user.first_name + current_user.first_name %>
                    </p>
                    <%= hidden_field_tag :postal1, @user.postcode %>
                    <%= hidden_field_tag :address1, @user.address %>
                    <%= hidden_field_tag :name1, @user.first_name + @user.last_name %>
                </div>
            </div>
            <!--radio_button2-->
            <div class="row">
                <div class="col-md-9 col-md-offset-1">
                    <%= radio_button_tag :delivery_type, 2, false %>
                    <%= label_tag "登録済住所から選択" %><br>
                    <div class="row">
                        <div class="col-md-6">
                            <%#= f.input :address, collection:@delivery.map { |v| [v.total_address, v.id]} %>
                            <%#= f.collection_select :address, @delivery, :id, :total_address %>
                            <%= f.select :address, @delivery.all.map{|o| [o.total_address, o.id]},{},:class => 'form-control' %>
                        </div>
                    </div>
                </div>
            </div>
            <!--radio_button3-->
            <div class="row">
                <div class="col-md-9 col-md-offset-1">
                    <%= radio_button_tag :delivery_type, 3, false %>
                    <%= label_tag "新しいお届け先" %><br>
                    <div class="row">
                        <div class="col-md-3">
                            <span>郵便番号(ハイフンなし)</span>
                        </div>
                        <div class="col-md-6">
                            <%= text_field_tag :postal3,'',class: "form-control" %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span>住所</span>
                        </div>
                        <div class="col-md-6">
                            <%= text_field_tag :address3,'',class: "form-control"%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span>宛名</span>
                        </div>
                        <div class="col-md-6">
                            <%= text_field_tag :name3,'',class: "form-control"%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-5">
                    <%= f.submit "確認画面へ進む", class: "btn btn-brown" %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    </div>
</div>
</div>