<div class="container">
    <p class="order-title">注文履歴詳細</p>
    <div class="row order-total">
        <div class="col-xs-8">
        <div class="col-xs-10">
            <p class="order-title-sm">注文情報</p>
            <table class="table table-bordered order-table">
                    <tbody>
                        <tr>
                            <th bgcolor="#EEEEEE">注文日</th>
                            <td>
                                <%= @order.created_at.strftime('%Y/%m/%d') %>
                            </td>
                        </tr>
                        <tr>
                            <th bgcolor="#EEEEEE">配送先</th>
                            <td>
                                <%= @order.postal_code %><br>
                                <%= @order.address %><br>
                                <%= @order.addressee %><br>
                            </td>
                        </tr>
                        <tr>
                            <th bgcolor="#EEEEEE">支払方法</th>
                            <td>
                                <%= @order.payment %>
                            </td>
                        </tr>
                        <tr>
                            <th bgcolor="#EEEEEE">ステータス</th>
                            <td>
                                <%= @order.status %>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="col-xs-12">
            <p class="order-title-sm">注文内容</p>
            <table class="table table-bordered order-table-y">
                    <thead>
                        <tr>
                            <th width="60%" bgcolor="#EEEEEE">商品</th>
                            <th width="15%" bgcolor="#EEEEEE">単価（税込）</th>
                            <th bgcolor="#EEEEEE">個数</th>
                            <th bgcolor="#EEEEEE">小計</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @sum = 0 %>
                        <% @order.order_items.each do |order_item| %>
                        <tr>
                            <td>
                                <%= order_item.item.name %>
                            </td>
                            <td>
                                <%= order_item.item.tax %>円</td>
                            <td>
                                <%= order_item.quantity %>個</td>
                            <td>
                                <%=  order_item.unit_price * order_item.quantity %>円
                            </td>
                        </tr>
                        <% @sum += order_item.item.tax*order_item.quantity %>
                        <% end %>
                    </tbody>
                </table>
            </table>
        </div>
        <div class="col-xs-4">
            <p class="order-title-sm">請求情報</p>
            <table class="table table-bordered order-table">
                    <tbody>
                        <tr>
                            <th bgcolor="#EEEEEE">商品合計</th>
                            <td>
                                <%= @sum %>円
                            </td>
                        </tr>
                        <tr>
                            <th bgcolor="#EEEEEE">配送料</th>
                            <td>
                                <%= @order.delivery_charge %>円</td>
                        </tr>
                        <tr>
                            <th bgcolor="#EEEEEE">ご請求額</th>
                            <td>
                                <strong><%= @order.charge %></strong>円
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <div class="order-total-btn">
            <%= link_to '注文履歴一覧に戻る',orders_path, class: "btn btn-lg btn-brown" %>
        </div>
     </div>
</div>